[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=baby-logger
Exec=baby-logger
Name=Baby logger
# translation example:
# your app name in German locale (de)
Name[de]=Baby logger

