[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-babylogger
Exec=harbour-babylogger
Name=Baby logger
# translation example:
# your app name in German locale (de)
Name[de]=Baby logger

